{% extends "layout.html" %}

{% block content %} 
    <div class="jumbotron">
        <div class="d-flex w-100 justify-content-between">
            <h1 class="h1">{{vault.name.upper()}}</h1>
            <a href="#" class="btn btn-danger mt-2 mb-2" role="button" data-toggle="modal" data-target="#003" aria-pressed="true">Destroy</a>
        </div>
        <div class="btn-group btn-group-toggle">
            <form action="{{ url_for('bunker.vault', vault_id=vault.id) }}" method="POST">
                <input class="btn btn-outline-success btn-sm {{'active' if not vault.lock else ''}}" type="submit" value="Unlock" name="lock_opt">
            </form>
            <form action="{{ url_for('bunker.vault', vault_id=vault.id) }}" method="POST">
                <input class="btn btn-outline-danger btn-sm {{'active' if vault.lock else ''}}" type="submit" value="Lock" name="lock_opt">
            </form>
        </div>
        <hr class="my-3">
        <p class="h5">Total investment : ₹{{vault.invault+vault.incirculation}}</p>
        <div class="progress">
            {% if vault.invault!=0.0 and vault.incirculation!=0.0 %}
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" 
                     style="width: {{ (vault.invault+vault.incirculation)/vault.invault }}%" 
                     aria-valuemin="0" aria-valuemax="100">InVault (vault.invault+vault.incirculation)/vault.invault%</div>
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" 
                     style="width: {{ (vault.invault+vault.incirculation)/vault.incirculation }}%" 
                     aria-valuemin="0" aria-valuemax="100">InVault (vault.invault+vault.incirculation)/vault.incirculation%</div>
            {% elif vault.invault==0.0 %}
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" 
                     style="width: 100%" aria-valuemin="0" aria-valuemax="100">InVault 100%</div>
            {% else %}
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" 
                     style="width: 100%" aria-valuemin="0" aria-valuemax="100">InCirculation</div>
            {% endif %}
            
        </div>
        <p class="h6 ml-5 mt-2">Cash in circulation : ₹{{vault.incirculation}}</p>
        <p class="h6 ml-5">Cash in vault : ₹{{vault.invault}}</p>
        <div class="d-flex flex-row-reverse">
            <a href="{{ url_for('transactions.transact',vault_id=vault.id)}}" class="btn btn-primary " role="button" aria-pressed="true">Access Vault</a>
        </div>
        
    </div>
    
    <nav class="navbar navbar-dark bg-dark">
        <div class="d-flex w-100 justify-content-between">
            <h3 class="text-white" >Transactions</h3>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#002" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
      
    <div class="collapse" id="002">
          <div class="list-group">
                  {% for tran in transactions %}
                    <li class="text-white list-group-item list-group-item-action bg-{{ tran.stat_types[tran.tran_stat]['color'] }}">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1 text-white">Status : {{ tran.stat_types[tran.tran_stat]['value'] }}</h5>
                            <p>{{tran.tran_date.strftime("%b %d %X, %Y ")}}</p>
                        </div>
                        <p class="mb-1">Amount : ₹{{tran.amount}} Type : {{tran.tran_type}}</p>
                        <small>Remark : {{tran.remark[:20]}}</small>
                    </li>
                  {% endfor %}
          </div>
          <hr class="my-3">
    </div>

<!-- Modal -->
<div class="modal fade" id="003" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="003Label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="003Label">Are you sure you want to destroy the vault ?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
           <form action="{{ url_for('bunker.destroy_vault', vault_id=vault.id) }}" method="POST">
               <input class="btn btn-danger" type="submit" value="Destroy">
           </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %} 

